.Header {
    font-family: "Arial";
    text-align: center;
    padding: 7.5px;
    /* padding-bottom: 7.5px; */
    border: 1px solid #a2a2a2;
    background-color: #f4f4f4;
    box-shadow: 0px 0px 4px 0px black;
    border-radius: 5px;
    margin-left: 30%;
    margin-right: 30%;
}

.Form {
    font-family: "Arial";
    display: flex;
    flex-direction: wrap;
    justify-content: flex-start;
    border-top: 3px solid #ddd;
    border-bottom: 3px solid #ddd;
}

.Form-key {
    font-family: "Arial";
    text-indent: 10px;
    margin: 10px;
}
.Form-value {
    font-family: "Arial";
    margin: 10px;
    border: 1px solid #ddd;
}


.New-entry {
    border: 3px solid rgb(83, 98, 194);
    background-color: lightblue;
    font-family: "Arial";
    font-weight: bold;
    margin-bottom: 8px;
    margin-left: 10px;
    margin-top: 9px;

}


.Search-bar {
    font-family: "Arial";
    text-indent: 10px;
    border-radius: 6px;
    width: 20%;
}

.Summary {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 3px solid #ddd;
    border-bottom: 3px solid #ddd;
    /* margin-bottom: 10px; */
    height: 80px;
}

.Summary-key {
    text-align: center;
    font-family: "Arial";
    font-weight: bold;
    color: lightslategray;
}

.Summary-value {
    text-align: center;
    font-family: "Arial";
}
  


.Search {
    font-family: "Arial";
    text-indent: 10px;
    border: 3px solid #ddd;
    padding-top: 5px;
    padding-bottom: 5px;
}


#work-table {
    width: 100%
}

#work-table td, #work-table th {
    text-align: center;
    border: 1px solid #ddd;
    padding: 15px;
}

#work-table tr:nth-child(even){background-color: #f2f2f2;}

#work-table tr:hover {background-color:lightblue}

#work-table th {
    /* justify-content: space-evenly;
    display: flex; */
    flex-direction: column;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(143, 151, 231);
    color: white;
    position: sticky;
    top: 0;
    /* width: 100%; */
}

